{
  "listen_addr": "0.0.0.0",
  "listen_port": 20440,
  "print_hz": 5,
  "web": {
    "enabled": true,
    "addr": "127.0.0.1:8080"
  },
  "recording": {
    "dir": "recordings"
  },
  "moza": {
    "enabled": true,
    "port": "/dev/ttyACM1",
    "update_hz": 20,
    "rpm_brightness": 15,
    "rpm_colors": [
      [0, 255, 0],
      [0, 255, 0],
      [0, 255, 0],
      [255, 255, 0],
      [255, 255, 0],
      [255, 128, 0],
      [255, 128, 0],
      [255, 0, 0],
      [255, 0, 0],
      [255, 0, 255]
    ],
    "button_colors": [
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255],
      [255, 255, 255]
    ],
    "button_mask": 1023
  }
}
